html {
    background: rgb(233, 230, 230);
}

header {
    position: relative;
    width: 26%;
    top: -50%; left: 27%;
    border-radius: 10px;
    background: lightyellow;
}


.habilidades__html {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
  }

.habilidades .habilidades__html .habilidades__html--barra .habilidades__html--barraHtml {
    position: relative;
    top: 100%;
    width: 90%;
    height: 9px;
    background: lightseagreen;
    border-radius: 12px;
    border: lightseagreen;
    overflow: hidden;
    background-color: rgb(33, 113, 139);
  }